@media screen and (min-width: 991px) {
    a, li, html, p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 990px) {
    a, li, html, p {
        font-size: .7rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 1px 1px #222222;
}


.content {
    padding: 10px 5%;
    text-align: justify;
}
